
body{
    margin:0;
    padding:0;
    width:100vw;
    height: 100vh;
    overflow:hidden;
    overflow-y: scroll;
}  
#main{
    display:flex;
    flex-direction:column;
    height: 100%;
    width:100%;
}
#main nav{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#main nav ul{
    background:#800000;
    display: flex;
    margin:0;
    padding:0;
    flex-direction: row;
    justify-content: space-between;
}
#main nav ul .actual{
    background: #e10405;
}
#main nav ul li{
    width:46%;
    text-align:center;
    list-style-type: none;
    padding:2%;
}
#main #view{
    background:#1f1b23;
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
#main #view fieldset{
    padding:2%;
    width:96%;
    margin:0;
    display:flex;
    flex-direction:row;
}
#main #view fieldset > *{
    width:44%;
}
#main #view fieldset > * > *{
    width:100%;
}
#main #view fieldset > *:first-of-type{
    width:84%;
}
#main #view fieldset > *:last-of-type button{
    background: #e10405;
}
#main #view ul{
    padding:2%;
    height:96%;
    display:flex;
    flex-direction:column;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 5%;
}
#main #view ul li{
    list-style-type: none;
}
#main #view ul .videoresult{
    display:flex;
    flex-direction: column;
    margin: 2%;
    background: #800000;
}
#main #view ul .videoresult .downloads ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#main #view ul .videoresult .downloads ul .preview{ 
    width:40%;
    display: flex;
}
#main #view ul .videoresult .downloads ul .preview *{ 
    width:100%;
    height:100%;
}
#main #view ul .videoresult .downloads ul .illu{ 
    width:100%;
    display: flex;
}
#main #view ul .videoresult .downloads ul .illu *{ 
    width:100%;
    height:100%;
}
#main #view ul .videoresult .downloads .download{
    width:100%;
}
