<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/master.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id='main'>
        <nav id='views-list'>
            <ul>
                <li class='actual'>
                    SEARCH
                </li>
                <li>
                    CONVERT
                </li>
            </ul>
        </nav>
        <section id='view'>
            <fieldset>
                <div class="field">
                    <input type="text" id='query'>
                </div>
                <div class="field">
                    <button id='doquery'>
                        GO
                    </button>
                </div>
            </fieldset>
            <ul id='content'>

            </ul>
        </section>
    </section>
    <script src='/ear'>
    </script>
    <script src='/sio'>
    </script>
    <script src="/siosocket"></script>
    <script src="/js/master.js"></script>
    <script>
        // socket.post(
        //     'getVid'
        //     ,'https://www.youtube.com/watch?v=fj77YLxJ5rM&list=TLPQMjkwMTIwMjIVHvClMO6F2w&index=2'
        //     ,({e,r})=>{
        //         if(e)console.log(e)
        //         else{
        //             alert('get vid res')
        //             console.log(r)
        //         }
        //     }
        // )
        // socket.post(
        //     'searchVid'
        //     ,'seyba anarchy'
        //     ,({e,r})=>{
        //         if(e)console.log(e)
        //         else{
        //             alert('search vid res')
        //             console.log(r)
        //         }
        //     }
        // )

    </script>
</body>
</html>